In [1]:
import pandas as pd

In [40]:
solar_agg = pd.read_csv('../data/transformed/solar_agg.csv')
solar_agg

,time_tag,density_mean,density_std,density_iqr,speed_mean,speed_std,speed_iqr,temperature_mean,temperature_std,temperature_iqr,bz_mean,bz_std,bz_iqr,bt_mean,bt_std,bt_iqr,pressure_mean,pressure_std,pressure_iqr
0,2025-11-25 12:00:00,2.628696,0.912186,0.3100,787.308696,16.636051,26.200,287985.782609,70125.424047,95630.50,-1.537391,2.177967,3.4600,7.012609,0.370494,0.380000,2.741872,1.017051,0.508302
1,2025-11-25 13:00:00,1.504667,0.518667,0.7425,781.428333,22.162287,23.825,302223.000000,75899.509016,116273.00,0.670500,2.395084,2.5125,6.604667,0.678102,0.905000,1.526787,0.505140,0.634802
2,2025-11-25 14:00:00,1.240167,0.185668,0.2850,788.735000,14.337785,18.800,325986.183333,42212.862079,58816.50,-1.849500,2.084489,4.0700,6.602667,0.373122,0.490000,1.290582,0.198981,0.247134
3,2025-11-25 15:00:00,1.184625,0.144178,0.1925,794.771667,20.555696,32.875,344875.728333,39422.757613,52512.75,-2.429917,1.702418,2.4525,6.650083,0.661784,0.665000,1.254550,0.183143,0.187921
4,2025-11-25 16:00:00,1.250792,0.211035,0.2775,779.877500,17.826520,23.650,288532.646667,44462.342692,49044.05,0.515667,2.741028,4.0775,7.121583,0.217837,0.215833,1.278753,0.256325,0.307426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,2025-12-02 08:00:00,1.288667,0.267825,0.3000,404.940000,8.618785,11.825,115645.483333,25879.650428,27006.50,2.575333,0.781167,0.9875,5.643333,0.180091,0.182500,0.354583,0.079695,0.098419
165,2025-12-02 09:00:00,1.633667,0.533209,0.8350,405.236667,10.315744,11.275,75433.016667,28024.752033,40775.00,1.966167,1.818993,3.2800,5.762833,0.258175,0.322500,0.450237,0.152458,0.219246
166,2025-12-02 10:00:00,1.363167,0.236566,0.2950,389.101667,5.639344,6.575,108033.433333,24706.461850,22274.50,0.024000,1.172116,1.7775,6.522000,0.134351,0.147500,0.345883,0.063805,0.087856
167,2025-12-02 11:00:00,1.566667,0.308829,0.4475,394.113333,6.917810,7.175,89245.400000,29635.024860,48854.25,-2.343333,0.493310,0.4675,6.135333,0.260316,0.365000,0.408730,0.090579,0.126900
168,2025-12-02 12:00:00,1.610833,0.304466,0.4475,391.033333,5.836192,6.325,85128.111111,19248.661810,31043.25,-2.262222,0.292136,0.3875,6.088056,0.131297,0.212500,0.413409,0.085103,0.126286

In [9]:
solar = pd.read_csv('../data/transformed/solar.csv')
solar.loc[:, 'time_tag'] = pd.to_datetime(solar['time_tag']) 
solar.set_index('time_tag', inplace=True)
solar[['speed']]

c:\Users\Umair\Documents\Digital_Futures\Capstone\.venv\Lib\site-packages\pandas\core\indexes\base.py:7654: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

                     speed
time_tag
2025-11-24 14:11:00  721.3
2025-11-24 14:12:00  713.9
2025-11-24 14:13:00  645.6
2025-11-24 14:14:00  709.6
2025-11-24 14:15:00  716.7
...                    ...
2025-12-01 14:04:00  450.2
2025-12-01 14:05:00  448.5
2025-12-01 14:06:00  445.5
2025-12-01 14:07:00  446.8
2025-12-01 14:08:00  446.8

[10078 rows x 1 columns]

In [11]:
import matplotlib.pyplot as plt

In [10]:
solar.index

DatetimeIndex(['2025-11-24 14:11:00', '2025-11-24 14:12:00',
               '2025-11-24 14:13:00', '2025-11-24 14:14:00',
               '2025-11-24 14:15:00', '2025-11-24 14:16:00',
               '2025-11-24 14:17:00', '2025-11-24 14:18:00',
               '2025-11-24 14:19:00', '2025-11-24 14:20:00',
               ...
               '2025-12-01 13:59:00', '2025-12-01 14:00:00',
               '2025-12-01 14:01:00', '2025-12-01 14:02:00',
               '2025-12-01 14:03:00', '2025-12-01 14:04:00',
               '2025-12-01 14:05:00', '2025-12-01 14:06:00',
               '2025-12-01 14:07:00', '2025-12-01 14:08:00'],
              dtype='datetime64[ns]', name='time_tag', length=10078, freq=None)

In [31]:
solar.index

DatetimeIndex(['2025-11-24 14:11:00', '2025-11-24 14:12:00',
               '2025-11-24 14:13:00', '2025-11-24 14:14:00',
               '2025-11-24 14:15:00', '2025-11-24 14:16:00',
               '2025-11-24 14:17:00', '2025-11-24 14:18:00',
               '2025-11-24 14:19:00', '2025-11-24 14:20:00',
               ...
               '2025-12-01 13:59:00', '2025-12-01 14:00:00',
               '2025-12-01 14:01:00', '2025-12-01 14:02:00',
               '2025-12-01 14:03:00', '2025-12-01 14:04:00',
               '2025-12-01 14:05:00', '2025-12-01 14:06:00',
               '2025-12-01 14:07:00', '2025-12-01 14:08:00'],
              dtype='datetime64[ns]', name='time_tag', length=10078, freq=None)

In [37]:
import pandas as pd
import numpy as np
import altair as alt

# --- Data Generation (for context) ---
date_rng = pd.date_range(start=solar.index[0], end=solar.index[-1], freq='H')
df = solar.reset_index()
df = df[['time_tag','speed']]
df['Time'] = df['time_tag']

# --- Setup Parameters ---
one_day_ms = 24 * 60 * 60 * 1000
one_hour_ms = 60 * 60 * 1000 # New step size for smoothness

min_time = df['Time'].min()
max_time = df['Time'].max()

# 1. Define the Slider Input
slider = alt.binding_range(
    min=min_time.value // 10**6,
    max=(max_time - pd.Timedelta(days=1)).value // 10**6,
    step=one_hour_ms, # MODIFIED: Smoother step (hourly)
    name='' # MODIFIED: No slider label
)

# 2. Define the Parameter
start_time_param = alt.param(
    name='startTime',
    value=min_time.value // 10**6,
    bind=slider
)

# Define the filter expressions
end_time_expr = f'datum.Time < time(startTime) + {one_day_ms}'
start_time_expr = 'datum.Time >= time(startTime)'

# --- Chart Creation ---
chart = alt.Chart(df).mark_line().encode(
    # X-axis remains static, letting the filter define the fixed 1-day view
    x=alt.X('Time:T', title='Time'), 
    y=alt.Y('Value:Q', title='Value'),
    tooltip=[alt.Tooltip('Time:T'), alt.Tooltip('Value:Q')]
).add_params(
    start_time_param
).transform_filter(
    start_time_expr
).transform_filter(
    end_time_expr
).properties(
    title='Interactive Daily Window Plot (Smooth Slider)'
)

chart

C:\Users\Umair\AppData\Local\Temp\ipykernel_215720\3869295602.py:6: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_rng = pd.date_range(start=solar.index[0], end=solar.index[-1], freq='H')

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000).

Try enabling the VegaFusion data transformer which raises this limit by pre-evaluating data
transformations in Python.
    >> import altair as alt
    >> alt.data_transformers.enable("vegafusion")

Or, see https://altair-viz.github.io/user_guide/large_datasets.html for additional information
on how to plot large datasets.

alt.Chart(...)