In [1]:
import pandas as pd

In [7]:
solar = pd.read_csv('../data/transformed/solar.csv')
solar.set_index('time_tag', inplace=True)
solar[['speed']]

                     speed
time_tag
2025-11-24 14:11:00  721.3
2025-11-24 14:12:00  713.9
2025-11-24 14:13:00  645.6
2025-11-24 14:14:00  709.6
2025-11-24 14:15:00  716.7
...                    ...
2025-12-01 14:04:00  450.2
2025-12-01 14:05:00  448.5
2025-12-01 14:06:00  445.5
2025-12-01 14:07:00  446.8
2025-12-01 14:08:00  446.8

[10078 rows x 1 columns]